<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap JS, Jquery, moment JS, Vue JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!--  Custom CSS, tempusdominus bootstrap CSS -->
    <link rel="stylesheet" href="css/search_page.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <title>Software Engineering Evidence Repository</title>
</head>

<body>
  	<div class="row mt-1"></div>
    <ul class="nav justify-content-end">
        <li class="nav-item mx-2">
            <p class="text-muted"><a class="nav-link text-reset user-select-none" style="padding-right: 0px; padding-left: 0px;" href="#">Log in</a></p>
        </li>
        <p class="text-muted"><a class="nav-link text-reset user-select-none">|</a></p>
		<li class="nav-item mx-2">
			<p class="text-muted"><a class="nav-link text-reset user-select-none" style="padding-right: 0px; padding-left: 0px;" href=" #">Sign up</a></p>
		</li>
    </ul>

	<div class="container">
		<div class="row invisible" style="height: 80px"></div>
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6 justify-content-center">
				<img src="img/SEERLOGO.png" class="img-fluid" alt="Logo">
			</div>
			<div class="col-3"></div>
        </div>
        
		<div class="row invisible" style="height: 50px"></div>
		<div class="row">
			<div class="col"></div>
			<div class="col-12 justify-content-center">
				<form class="search-form" id="search-form">
					<input type="search" placeholder="Search by title, author, doi or results" class="search-input" id="searchbar">
					<div class="search-button">
                        <svg class="submit-button">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                        </svg>
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
                        <symbol id="search" viewBox="0 0 32 32">
                            <path
                            d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
                        </symbol>
					</svg>
				</form>
			</div>
			<div class="col"></div>
		</div>

        <div class="row invisible" style="height: 50px"></div>
        <div class="row">
            <div class="float-container d-flex justify-content-center">
                <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" placeholder="Any" />
                    <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>          
                <p>to</p>    
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" placeholder="Any" />
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Query builder-->
        <div class="row invisible" style="height: 20px"></div>
        <div class="d-flex justify-content-center" id="query-builder">
            <template>
                <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="w-50">
                    <b-input-group id="search-query" class="form-group">
                        <b-form-select v-model="form.field" :options="queryFields" class="mr-4"></b-form-select>
                        <b-form-select v-model="form.operator" :options="queryOperators" class="mr-4"></b-form-select>
                        <b-form-select v-model="form.value" :options="queryValues"></b-form-select>
                        <button class="btn"><i class="fa fa-times-circle"></i></button>
                    </b-input-group>
                    <div class="d-flex justify-content-center mt-5">
                        <b-button class="col-5 btn-lg mr-4" type="submit" variant="primary">Search</b-button>
                        <b-button class="btn-lg" type="reset" variant="outline-danger">Reset</b-button>
                    </div>
                </b-form>
            </template>            
        </div>

        <div class="row invisable" style="height: 20px"></div>

        <!--Search Error message-->
        <div class="row">
            <div class="col-4 float-container d-flex justify-content-center alert invisible text-center" role="alert" id="error-msg"></div>
        </div>

        <!-- search result -->
        <div class="row invisible" style="height: 50px"></div>
        <div id="search_result" class="invisible">
            <template>
				<div>
					<b-table :items="articles" :fields="fields" :busy="isBusy" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc"
						striped hover bordered responsive show-empty thead-class="user-select-none">

						<!-- Table loading spinner-->
						<template v-slot:table-busy>
							<div class="text-center text-danger my-2">
								<b-spinner class="align-middle"></b-spinner>
								<strong>Loading...</strong>
							</div>
                        </template>
                        
                        <!-- Empty results-->
                        <template v-slot:empty="scope">
                            <h4 class="text-center">No Results Found!</h4>
                        </template>

						<template v-slot:cell(article.doi)="data">
							<a :href="'https://doi.org/' + data.item.article.doi" target="_blank">{{data.item.article.doi}}</a>
						</template>
					</b-table>
				</div>
			</template>
        </div>
        <div class="row invisible" style="height: 50px"></div>
    </div>
</body>

<script type="text/javascript">
    $(function() {
        $('#datetimepicker').datetimepicker({
            format: 'L'
        });
        $('#datetimepicker2').datetimepicker({
            useCurrent: true,
            format: 'L'
        });
        $("#datetimepicker").on("change.datetimepicker", function(e) {
            $('#datetimepicker2').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker2").on("change.datetimepicker", function(e) {
            $('#datetimepicker').datetimepicker('maxDate', e.date);
        });
    });
</script>

<!-- Local JS:: after body is loded -->
<script type='text/javascript' src="js/network.js"></script>
<script type='text/javascript' src="js/search.js"></script>

</html>