<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Bootstrap JS, Jquery, moment JS, Vue JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/moment.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!--  Custom CSS, tempusdominus bootstrap CSS -->
    <link rel="stylesheet" href="css/search_page.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <title>Analyst Page</title>
</head>

<body>

    <div class="container">
        <div class="row">

            <div class="col"></div>
            <div class="col-12" id="queue">
                <div class=" justify-content-center mt-5">
                    <form id="form">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <div v-for="item in articles">
                                        <input type="text" id="title" v-model="item.article.title" name="title"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="author">Author(s)</label>
                                    <div v-for="item in articles">
                                        <input type="text" id="author" v-model="item.article.author" name="author"
                                            class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="author">Journal</label>
                            <div v-for="item in articles">
                                <input type="text" id="journal" v-model="item.article.journal" name="journal"
                                    class="form-control">
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="year">Year</label>
                            <div v-for="item in articles">
                                <input type="text" id="year" v-model="item.article.year" name="year"
                                    class="form-control" required>
                                </div>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="doi">DOI</label>
                            <div v-for="item in articles">
                                <input type="text" id="doi" v-model="item.article.doi" name="doi" class="form-control"
                                    required>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="title">Volume</label>
                                    <div v-for="item in articles">
                                        <input type="number" v-model="item.article.volume" id="volume" name="volume"
                                            class="form-control">
                                        </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="author">Pages</label>
                                    <div v-for="item in articles">
                                        <input type="text" v-model="item.article.pages" id="pages" name="pages"
                                            class="form-control">
                                        </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="journalIssue">Journal Issue</label>
                                    <div v-for="item in articles">
                                        <input type="number" id="journalIssue" v-model="item.article.journalIssue"
                                            name="journalIssue" class="form-control" placeholder="2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <!-- Accept acticle button -->
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary form-control"
                                        @click="acceptArticle">Accept</button>
                                </div>
                                <!-- reject acticle button -->
                                <div class="col-6">
                                    <button type="button" class="btn btn-danger form-control"
                                        @click="deleteArticle(articles[0].id, articles[0].popReceipt)">Reject</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="col"></div>

        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-12">
                <div id="moderation">
                    <template>
                        <b-table :items="articles" :fields="fields" :busy="isBusy" striped hover bordered responsive
                            show-empty thead-class="user-select-none"
                            thead-tr-class="table-primary-custom no-outline text-center">

                            <!-- Table loading spinner-->
                            <template v-slot:table-busy>
                                <div class="text-center text-danger my-2">
                                    <b-spinner class="align-middle"></b-spinner>
                                    <strong>Loading...</strong>
                                </div>
                            </template>

                            <!-- Empty Queue-->
                            <template v-slot:empty="scope">
                                <h4 class="text-center">No Articles are waiting!</h4>
                            </template>

                            <template v-slot:cell(Doi)="data">
                                <a :href="'https://doi.org/' + data.item.Doi" target="_blank">{{data.item.Doi}}</a>
                            </template>
                        </b-table>
                    </template>
                </div>
            </div>
            <div class="col"></div>
        </div>

    </div>
</body>

<!-- Local JS:: after body is loded -->
<script type='text/javascript' src="js/moderation.js"></script>

</html>